<h3>Habit Details</h3>
<p><b>Habit:</b> <%= @habit.name %></p>
<p><b>Date Created:</b> <%= @habit.date %></p>
<p><b>Description:</b> <%= @habit.description %></p><br>

<form method="get" action="/habits/<%=@habit.id%>/edit">
<input type="submit" value="Edit Habit">
</form><br><br><br>

<form method="POST" action="/habits/<%=@habit.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Habit">
</form>
